body{
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
}
h1{
    color:rgb(0, 0, 0);    
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    font-size: 30px;
    text-decoration: underline 2px;
    margin-bottom: 55px;
    margin-top: 5px;
    letter-spacing: 0.5px;
}
.heading{
    text-decoration: underline;
}
input{
    cursor: pointer;
    height: 15px;
    width: 230px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
    display: flex;
    padding: 3px;
    margin-top: 5px;
    margin-bottom: 50px;
    background-color: #f3f3f3;
}
label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    padding-bottom: 5px;
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    width: 10px;
}
.back{
    padding-top: 20px;
}
.back button{
    background-color: rgb(131, 130, 130);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 150px;
    height: 30px;
    transition: .4s;
}
.back button:hover{
    border-radius: 12px;
    color: rgba(0, 0, 0, 0.593);
    background-color: rgb(224, 224, 224);
}
.save{
    padding-top: 20px;
}
.save button{
    background-color: rgb(145, 239, 134);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 150px;
    height: 30px;
    transition: .4s;
}
.save button:hover{
    border-radius: 12px;
    color: rgba(0, 0, 0, 0.593);
    background-color: rgb(224, 224, 224);
}
.delete{
    padding-top: 20px;
}
.delete button{
    background-color: rgb(237, 145, 145);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 150px;
    height: 30px;
    transition: .4s;
}
.delete button:hover{
    border-radius: 12px;
    color: rgba(0, 0, 0, 0.593);
    background-color: rgb(224, 224, 224);
}
.checkbox{
    padding-left: 18px;
}
.message {
    color: rgba(0, 0, 0, 0.593);
    font-size: 18px;
    margin-top: 5px;
}
input[type="checkbox"]{
    height: 20px;
    width: 20px;
}
.border{
    border: 2px solid #000; 
    height: 550px;
    width: 870px;
    background-color: #f3f3f3;
    border-radius: 5px;
    padding: 40px;
    margin-top: 20px;
    position: relative;
}
.idValue{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 52px;
    margin-right: 100px;
    padding: 3px;
    padding-right: 10px;
    padding-left: 10px;
    border: 2.5px solid #000;
    border-radius: 5px;
    background-color: #dddddd;
}
.ID{
    padding-left: 10px;
}
p{
    font-size: 17px;
}
.flexRun {
    display: flex;
    flex-direction: column; /* Setze die Ausrichtung auf Spalten */
}
.labels,
.inputs {
    display: flex;
    flex-direction: row; /* Setze die Ausrichtung der Labels und Inputs auf Reihen */
    margin-bottom: 10px; /* Füge Platz zwischen den Zeilen hinzu */
}
.firstRunDiv,
.lastRunDiv{
    margin-right: 203px; /* Füge Platz zwischen den Labels hinzu */
}
.inputs input{
    margin-right: 50px;
}
.flexName {
    display: flex;
    flex-direction: column; /* Setze die Ausrichtung auf Spalten */
}
.labelsName,
.inputsName {
    display: flex;
    flex-direction: row; /* Setze die Ausrichtung der Labels und Inputs auf Reihen */
    margin-bottom: 10px; /* Füge Platz zwischen den Zeilen hinzu */
}
.NameM{
    margin-right: 232px; /* Füge Platz zwischen den Labels hinzu */
}
.EnabledM{
    margin-right: 212px;
}
.inputsName input[type="checkbox"]{
    margin-right: 25px;
}
.inputsName input{
    margin-right: 110px;
}
.inputsName p{
    margin-right: 120px;
}
.Buttons{
    display: flex;
    margin-left: 158px;
}
.Buttons button{
    margin-right: 50px;

}
.interval{
    margin-top: 19px;
}
.inputStatus{
    position: absolute;
    left: 613px; /* Anpassen des Abstands nach Bedarf */
}