h1{
    color:rgb(220, 220, 220); 
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    font-size: 37px;
    justify-content:left;
    text-shadow: 0px 2px 3px #707070;
    -webkit-text-stroke: 1px black;
}
body{
    background-color: rgb(255, 255, 255);
    padding-left: 15px;
    padding-right: 15px;
}
.toolbar {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 60px;
}
.rerange{
    border:none;
    margin-right: 5px;
}
.refresh,
.createButton{
    width: 55px;
    height: 30px;
}
button{
    font-size: 16px;
    transition: 0.4s;
    color: rgb(0, 0, 0);
    background-color: rgb(235, 235, 235);
    border-color: rgb(0, 0, 0);
    border-width: 0.5px;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    cursor: pointer;
}
button:hover{
    background-color: rgb(217, 217, 217);
    border-color: rgb(217, 217, 217);
}
.refresh svg {
    vertical-align: middle;
    margin-left: 13px;
    margin-bottom: 2px;
}
.thButton button{
    background-color: rgb(220, 220, 220);
    width: 30px;
}
.thButton{
    display: inline;
}
.createButton{
    margin-right: 15px;
    border-width: 0.5px;
    border-color: black;
}
.createButton:hover{
    border-radius: 6px;
}
.refresh{
    margin-right: 15px;
    border-width: 0.5px;
    border-color: black;
}
.refresh:hover{
    border-radius: 6px;
}
.text{
    display: inline;
}
.input input{
    width: 170px;
    height: 30px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.2s;
    border-radius: 3px;
    border-width: 0.5px;
}
.input input:hover{
    background-color: rgb(217, 217, 217);
    border-color: rgb(217, 217, 217);
    border-radius: 6px;
    cursor: auto;
}
select{
    width: 150px;
    height: 25px;
    background-color: rgb(235, 235, 235);
}
table{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    margin-top: 15px;
    background-color: rgb(235, 235, 235);
    table-layout: auto;
    border-collapse: separate;
    border-spacing: 0px 5px;
}
th{
    background-color: rgb(220, 220, 220);
    padding: 10px;
    border: 2px solid rgb(235, 235, 235);
}
td{
    text-align: center;
    border-left: none;
    padding-bottom: 15px;
    font-size: 14px;
}
th, td{
    border-bottom: 1px solid rgba(235, 235, 235, 0.8);
}
svg{
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: black;
}
.delete{
    display: inline;
}
.edit{
    display: inline;
}
.delete button{
    width: 30px;
    border: none;
    background-color: rgba(249, 249, 249, 0);
}
.delete button:hover{
    background-color: rgba(61, 255, 61, 0);
}
input{
    width: 50px;
    height: 20px;
    background-color: rgb(235, 235, 235);
}
select{
    cursor: pointer;
}
.thButton button:hover{
    background-color: rgb(177, 177, 177);
    border-radius: 2px;
}
.selectbox{
    margin-right: 15px;
    height: 30px;
    border-radius: 3px;
    border-width: 0.5px;
    border-color: black;
    transition: 0.2s;
}
.selectbox:hover{
    background-color: rgb(217, 217, 217);
    border-color: rgb(217, 217, 217);
    border-radius: 6px;
}
.searchInput{
    margin-right: 15px;
}

