h1{
    color:rgb(0, 0, 0);    
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content:left;
}
body{
    background-color: rgb(255, 255, 255);
    padding-left: 15px;
    padding-top: 5px;
    padding-right: 15px;
}
button{
    width: 150px;
    height: 25px;
    color: rgb(0, 0, 0);
    background-color: rgb(235, 235, 235);
    border-color: rgb(235, 235, 235);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.4s;
}
button:hover{
    border-radius: 8px;
    color: rgb(235, 235, 235);
    background-color: rgb(128, 128, 128);
}
.thButton button{
    background-color: rgb(220, 220, 220);
    width: 30px;
}
.thButton{
    display: inline;
}
.text{
    display: inline;
}
.box{
    padding-left: 15px;
    padding-top: 3px;
    width: 200px;
    height: 25px;
    margin-top: -1.7%;
    margin-bottom: 0%;
    margin-left: 15%;
    margin-right: 10%;
    background-color: rgb(235, 235, 235);
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.input input{
    width: 218px;
    height: 25px;
    margin-top: 5px;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.2s;
}
.input input:hover{
    background-color: rgb(217, 217, 217);
    cursor: auto;
}
select{
    width: 150px;
    height: 25px;
    background-color: rgb(235, 235, 235);
}
table{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    margin-top: 30px;
    background-color: rgb(235, 235, 235);
    table-layout: auto;
    border-collapse: separate;
    border-spacing: 0px 5px;
}
th{
    background-color: rgb(220, 220, 220);
    padding: 10px;
    border: 2px solid rgb(235, 235, 235);
}
td{
    text-align: center;
    border-left: none;
    padding-bottom: 15px;
}
th, td{
    border-bottom: 1px solid rgba(235, 235, 235, 0.8);
}
svg{
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: black;
}
.delete{
    display: inline;
}
.edit{
    display: inline;
}
.delete button{
    width: 30px;
    border: none;
    background-color: rgba(249, 249, 249, 0);
}
.delete button:hover{
    background-color: rgba(61, 255, 61, 0);
}
input{
    width: 50px;
    height: 20px;
}
select{
    cursor: pointer;
}
.create{
    float: right;
}
.create button{
    width: 150px;
    height: 50px;
    font-size: 16px;
    transition: 0.4s;
}
.create button:hover{
    border-radius: 12px;
    color: rgb(235, 235, 235);
    background-color: rgb(128, 128, 128);
}
.thButton button:hover{
    background-color: rgb(177, 177, 177);
    border-radius: 2px;
}